<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>M.T. Geolocation</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
</head>
<body>
    <header>
        <h1>M.T. Geolocation</h1>   
        <aside style="margin-top:-63px;">Map represents approximate location of site visitor upon lead conversion </aside>
    </header>



    <div id="container"></div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="js/datamaps-all.min.js"></script>
    <script>
        $(document).ready(function() {
            var point,
                num;

            // deferred is a window object for console manipulation
            window.deferred = new $.Deferred();
            var ipPoint = Backbone.Model.extend({
                defaults: {
                    // portland, or
                    ip: '71.193.202.88',
                    latitude: 45,
                    longitude: -122,
                    radius: 3
                }
            });

            var pointsList = new Backbone.Collection({
                model: ipPoint
            });

            function generateRandomIpAddress() {
                var out = '';
                for (var i = 0; i < 4; i++) {
                    num = Math.floor(Math.random() * 255) + ((i === 3) ? '' : '.');
                    out += num;
                }
                return out;
            }

            function getPointData() {
                var ip = generateRandomIpAddress();
                var point;
                var def = new $.Deferred();
                $.ajax({
                    url: 'http://freegeoip.net/json/' + ip,
                    method: 'GET',
                    dataType: 'json',
                    async: true,
                    success: function(data) {
                        point = _.pick(data, 'ip', 'latitude', 'longitude');
                        point['radius'] = 3.5;
                        pointsList.add(new ipPoint(point));
                        def.notify();
                        def.resolve();
                    },
                    error: function() {
                        console.log('ajax error');
                        def.resolve();
                    }

                });
                return def.promise();
            }

            function getPoints() {
                var deferreds = [];
                // add points to collection
                for (var i = 0; i < 10; i++) {
                    deferreds.push(getPointData());
                }
                console.log('deferreds', deferreds);
                return deferreds;
            }

//            $.whenall = function(arr) { return $.when.apply($, arr); };

            $.when.apply($, getPoints()).then(function() {
                $('#container').animate({ opacity: 1}, 1000, function() { renderMap();})
                
            }, null, console.log('go!'));


            function renderMap() {
                $('#container').datamap({
                    scope: 'world',
                    bubbles: pointsList.toJSON(),
                    bubble_config: {
                        popupTemplate: _.template([
                            '<div class="hoverinfo">Lat:<%= data.latitude %><br />Lng:<%= data.longitude %>',
                            '<br/>IP Address: <%= data.ip %>',
                            '</div>'].join(''))
                    },
                    hideAntarctica: true,
                    geography_config: {
                        popupOnHover: false,
                        highlightOnHover: false,
                        borderWidth: 0.4,
                        borderColor: '#f90'
                    }
                    
                });
            }
        });
    </script>
</body>
</html>